<div class="row">
    <div class="col-md-8 col-md-offset-2">
       <ul class="list-unstyled">
           <% @users.each do |user| %>
                
                <% if user.profile %>
                    <li class="well row <%= cycle("white","") %>">
                        <div class="col-sm-4  text-center">
                            <%= image_tag user.profile.avatar.url(:thumb), class: 'avatar-border'%>
                        </div>
                        <div>
                            <%= link_to user do %>
                                <h1 style="margin-top:0px;"><%= user.profile.first_name %> <%= user.profile.last_name %></h1>
                            <% end %>
                            <h3><%= user.profile.job_title %></h3>
                        </div>
                        
                        
                    </li>
                <% end %>
            
            <% end %>
           
       </ul>
    </div>
</div>
